@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('https://source.unsplash.com/1600x900/?albania,nature') no-repeat center center/cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: #a90505;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
}

#countdown {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

a{
    color: #fff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }

    #countdown {
        font-size: 20px;
    }
}

/* Media query për ekranet më të vogla (telefonët e vegjël) */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    #countdown {
        font-size: 18px;
    }
}
